body {
    padding: 0;
    margin: 0;
    background-color: #FFB6C1;
}
#header {
    background-color: #FF1493;
    width: 100%;
    height: 15%;
    
    padding: 10px;
}

#header .titles {
    text-align: center;
}

#logoImg {
    height: 70px;
    width: 70px;
    padding: 0;
    
}

#content {

    height: 650px;
    width: 100%;
    
    padding: 10px;
}

.col-sm-3 {
    height: 180px;
    width: 180px;
    margin: 10px;
    background-color: antiquewhite;
    border: grey solid 2px;
}

.col-sm-3 img {
    height: 180px;
    width: 180px;
}

.row {
    display: flex;
    justify-content: center;
}

.container {
    padding: 20px;
}